@font-face {
    font-family: naofont;
    src: url(naofont.ttf);
}

body {
    margin: 0px;
    background: rgb(69, 69, 69);
    background: radial-gradient(circle, rgba(69, 69, 69, 1) 0%, rgba(24, 24, 24, 1) 100%);
}

a {
    text-decoration: none;
    outline: none;
    color: #b9b9b9;
    font-family: "Work Sans", sans-serif;
}

p {
    color: #fff;
    font-family: "Work Sans", sans-serif;
}

section {
    height: 100vh;
}

h1 {
    font-family: naofont;
}

#home {
    background: rgb(69, 69, 69);
    background: radial-gradient(circle, rgba(69, 69, 69, 1) 0%, rgba(24, 24, 24, 1) 100%);
}

#title {
    padding-top: 50px;
    padding-left: 140px;
    font-size: 40px;
    float: left;
    color: #9cfc7c;
    flex-direction: column;
}

#subtitle {
    font-size: 30px;
    max-width: 600px;
    font-family: "Work Sans", sans-serif;
}

header {
    overflow: hidden;
    font-family: "Work Sans", sans-serif;
    top: 0;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    /*importante*/
}

header .logo {
    font-family: naofont;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 1px;
    padding-left: 120px;
}


/*Navbar*/

.navigation {
    font-size: 14px;
    padding-right: 120px;
    float: right;
    padding-top: 10px;
}

.nav-button {
    padding-right: 20px;
}

.section-nav {
    height: 100px;
}


.icon{
    display: none;
}

/*Bottoni*/

.btn {
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.btn-outline {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0px;
}

.btn-round {
    border-radius: 4px;
}


/*Testo*/

.text-white {
    color: #ffffff;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.secondapagetitle {
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
    color: #9cfc7c;
}

.txt-title {
    padding-top: 20px;
    font-size: 40px;
    text-align: center;
    padding-inline-start: 150px;
    padding-inline-end: 150px;
}

.txt-standard {
    font-size: 20px;
}

.padding-standard {
    padding-bottom: 50px;
    padding-top: 50px;
}

#imgNao {
    width: 25%;
    float: right;
    padding-right: 200px;
    font-size: 40px;
}

#discover-btn {
    text-align: center;
    position: fixed;
    position: absolute;
    display: inline-block;
    bottom: 0px;
}

.box1 {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 50px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#elenco-social {
    width: 200px;
    font-size: 35px;
    position: relative;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

#imgSocial{
    max-width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}


#sponsor {
    width: 50px;
    margin: auto;
}

footer {
    text-align: center;
    background-color: #312f2f;
    margin: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
}



@media screen and (max-width: 767px) {
    
    h1{
        font-size: 25px;

    }

    body {
        width: 100%;
    }
    #home {
        width: 100%;
    }
    



    .icon{
        display: block;
    }

    header .logo {
        font-family: naofont;
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 1px;
        padding-left: 20px;
    }

    header .navigation{
        display: none;
    }






    /*
    .navigation .nav-button {
        display: none;
      }
      .navigation .icon {
        display: block;
      }
    


    .navigation {
        display: none;
      }
      
      

      header {
        padding-left: 0;
        padding-right: 0;
      }
      
      header .logo {
        padding-left: 20px;
      }
      
      .nav-collapse {
        display: none;
      }
      
      .nav-collapse.active {
        display: block;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 9999;
        text-align: center;
      }
      
      .nav-collapse.active .nav-button {
        display: block;
        margin-top: 10px;
      }*/


      
    #title {
        text-align: center;
        padding-top: 50px;
        padding-left: 0px;
        margin: auto;
        font-size: 20px;
        float: none;
        color: #9cfc7c;
    }
    .secondapagetitle {
        font-size: 25px;
        text-align: center;
        padding-top: 10px;
        color: #9cfc7c;
    }
    #subtitle {
        font-size: 20px;
        max-width: 100%;
        padding: 10px;
        text-align: center;
    }

    section {
        height: 100vw;
    }
    

    .btn {
        padding: 5px 10px;
        font-size: 12px;
    }
    .btn-round {
        border-radius: 2px;
    }
    #imgNao {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
        padding: 0;
        margin: auto;
        
    }
    .box1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        float: none;
        gap: 10px;
        padding: 10px;
    }
    #elenco-social {
        font-size: 20px;
        position: relative;
        display: block;
        margin-top: auto;
        margin-bottom: auto;
    }

    #imgSocial{
    
        min-width: 100%; 
        margin-top: auto;
        margin-bottom: auto;
    }

    footer {
        padding: 10px;
    }
}



@media screen and (max-width: 767px) {

}